<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Users List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <ion-list>
          <ion-item *ngFor="let userDetail of userDetails" lines="full">
            <ion-label>
              <strong>{{userDetail.firstName |titlecase}}</strong>
              <p>{{userDetail.lastName | titlecase}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
